header {
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    height: 3rem;
    box-shadow: 0 1px 2px #333;
}
header > div {
    display: flex;
}
header ul {
    display: flex;
    gap: 0 1em;
}
header ul li {
    list-style: none;
}
header ul li a {
    color: #333;
    text-decoration: none;
}

footer {
    background-color: #333;
    padding: 1rem 2rem;
}
footer ul {

}
footer ul li {
    list-style: none;
}
footer ul li a {
    color: #fff;
    text-decoration: none;
}